.shopping-cart-container {
  padding: 40px 20px;
  max-width: 900px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  min-height: 650px;
}

.order-card {
  flex: 3;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  padding: 20px;
}

.cart-items-container {
  max-height: 400px; /* Limit height for scrolling */
  overflow-y: auto;
  padding-right: 10px; /* Space for scrollbar */
  position: relative;
}

.cart-items-table {
  width: 100%;
  border-collapse: collapse;
  /* border-top: 2px solid #ccc; */
}

.cart-items-table th,
.cart-items-table td {
  padding: 15px;
  text-align: left;
  border-top: 1px solid #ccc; /* Only top border for rows */
}

.cart-items-table th {
  background-color: #f4f4f4;
  font-weight: bold;
  /* position: sticky;  for table scroll with sticky header
  top: 0; 
  z-index: 1;  */
}

.even-row {
  background-color: #f9f9f9;
}

.odd-row {
  background-color: #ffffff;
}

.media-icon {
  width: 50px;
  height: 50px;
  border-radius: 8px;
}

.delete-icon {
  color: red;
  cursor: pointer;
  font-size: 24px;
}

.order-summary-card {
  flex: 2;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  padding: 20px;
  background-color: #fff;
  height: max-content;
}

.order-summary-card h3 {
  position: relative;
  margin-bottom: 10px;
}

.order-summary-card h3::after {
  content: '';
  display: block;
  height: 2px;
  background-color: #ccc;
  margin-top: 5px;
  width: 100%;
}

.total-price {
  font-size: 18px;
  margin-bottom: 10px;
}

.checkout-button {
  background-color: #108ff6;
  color: white;
  /* border: none; */
  border-radius: 10px;
  /* padding: 10px 30px; */
  padding: 10px;
  width: 100%;
  cursor: pointer;
  font-size: 16px;
}

.payment-methods {
  margin-top: 20px;
  font-size: 14px;
}

.payment-icons {
  display: flex;
  gap: 10px;
  align-items: center;
}

.payment-icon {
  width: 50px;
}

.cart-item-image {
  width: 50px;
  height: 50px;
  border-radius: 8px;
}

.media-type {
  display: inline-flex; /* Ensures text and icon stay in one line */
  align-items: center; /* Vertically aligns the icon with text */
  gap: 5px; /* Adds spacing between the text and the icon */
  justify-content: center; /* Centers the content in the cell */
}

td {
  text-align: center; /* Ensures all table data cells are centered */
  vertical-align: middle; /* Aligns content vertically in the middle */
}
