.footer {
  background-color: #2d2d2d;
  color: white;
  padding: 40px 20px;
  font-family: Arial, sans-serif;
  width: 100%;
}

.footer-container {
  /* max-width: 1200px; */
  /* margin: 0 auto;  */
  padding: 0 3vw;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.footer-section {
  flex: 1;
  min-width: 250px;
  margin-bottom: 20px;
}

.footer-logo.full-height {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.footer-logo h1 {
  font-size: 48px; /* Larger font size */
  font-weight: bold;
  color: white;
  text-transform: uppercase; /* Converts text to uppercase */
  text-align: left; /* Aligns text to the left */
  margin: 0;
}

.footer-logo-container {
  flex: 2;
  display: flex;
  align-items: center;
  gap: 20px;
}

.footer-logo-wrapper {
  background-color: white; /* White background for transparency */
  padding: 10px;
  border-radius: 8px;
}

.footer-logo-image {
  max-width: 100px;
  max-height: 100px;
}

.footer-logo {
  flex: 2; /* Make footer-logo take more space */
}

.footer-section h3,
.footer-section p,
.footer-section a {
  line-height: 1.6;
  font-size: 18px;
  margin-top: 0;
  margin-bottom: 10px;
}

.footer-section a {
  color: white;
  text-decoration: none;
}

.footer-social {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer-social-row {
  display: flex;
  gap: 30px; /* Increased spacing */
}

.footer-bottom {
  text-align: center;
  margin-top: 20px;
  border-top: 1px solid #444;
  padding-top: 10px;
  font-size: 14px;
  flex-shrink: 0;
}

.typewriter {
  font-weight: bold;
  font-size: 48px; 
  text-transform: uppercase; 
  height: 56px;
}

@media screen and (max-width: 1200px) {
  .footer-logo h1 {
    font-size: 40px;
  }

  .footer-section h3,
  .footer-section p,
  .footer-section a {
    font-size: 16px;
  }

  .typewriter {
    font-size: 40px;
    height: auto;
  }
}

@media screen and (max-width: 900px) {
  .footer-container{
    flex-wrap: wrap;
  }

  .footer-section h3 {
    text-align: center;
    margin-bottom: 2vh;
  }
  
  .footer-container > :nth-child(3) {
    margin-bottom: 0;
  }  

  .footer-social-row {
    flex-direction: row;
    justify-content: center;
    text-align: center;
  }

  .footer-logo h1 {
    font-size: 32px;
  }

  .footer-section h3,
  .footer-section p,
  .footer-section a {
    font-size: 14px;
  }

  .typewriter {
    font-size: 32px;
    height: auto;
  }
}

@media screen and (max-width: 600px) {
  .footer-container {
    flex-direction: column;
    align-items: center;
  }

  .footer-section {
    text-align: center;
    margin-bottom: 20px;
  }

  .footer-logo h1 {
    font-size: 28px;
    text-align: center;
  }

  .footer-section h3,
  .footer-section p,
  .footer-section a {
    font-size: 14px;
  }

  .typewriter {
    font-size: 28px;
    height: auto;
  }
}

@media screen and (max-width: 400px) {
  .footer-logo h1 {
    font-size: 24px;
  }

  .footer-section h3,
  .footer-section p,
  .footer-section a {
    font-size: 12px;
  }

  .typewriter {
    font-size: 24px;
    height: auto;
  }
}

@media screen and (min-width: 900px) and (max-width: 1400px) {
  .footer-social-container {
    text-align: center; 
    margin: 20px 0; 
  }

  .footer-social-row {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 10px; /* Add spacing between items */
  }

  .footer-social-row a {
    display: flex;
    align-items: center; /* Align icon and text vertically */
    text-decoration: none; /* Remove underline from links */
    color: inherit; /* Inherit color from parent */
    font-size: 16px; /* Adjust text size */
  }

  .footer-social-row i {
    margin-right: 8px; /* Add space between icon and text */
    font-size: 20px; /* Adjust icon size */
  }
}
