.navbar-wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
}

.navbar-wrapper.light .navbar-container {
    background-color: #ffffff;
    /* Light mode navbar background */
    color: #000000;
    /* Light mode navbar text */
}

.navbar-wrapper.dark .navbar-container {
    background-color: #1a1a1a;
    /* Darker navbar for dark mode */
    color: #e0e0e0;
    /* Light gray text color */
}

.admin-info {
    width: 45%;
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 2rem;
    color: #e0e0e0;
    /* Light gray text */
    gap: 10px;
    font-weight: bold;
}

.logo-container {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
    margin-left: 2vw;
    width: fit-content;
}

.logo-container img {
    max-width: 100%;
    width: auto;
    height: 120px;
    display: block;
    object-fit: contain;
}

/* Navbar Container (Light and Dark Theme Adjustments) */
.navbar-container {
    width: 55%;
    border-radius: 15px;
    padding: 0 20px;
    margin: 10px;
    display: flex;
    justify-content: center;
    position: relative;
    background-color: #ffffff;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1); */
}

ul {
    list-style-type: none;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

/* Common li styles */
li {
    padding: 0 20px;
    font-weight: 500;
    font-size: 1.25rem;
    cursor: pointer;
    position: relative;
    transition: color 0.3s ease, border-bottom 0.3s ease, text-shadow 0.3s ease, transform 0.3s ease;
    letter-spacing: 0.05em;
  }
  
  /* Light Mode Styles */
  .navbar-container:not(.navbar-dark-mode) li {
    color: #000; /* Default color for light mode */
  }
  
  .navbar-container:not(.navbar-dark-mode) li.selected {
    color: #2196f3; /* Selected color in light mode */
    border-bottom: 2px solid #2196f3; /* Selected border color */
    transform: scale(1.1); /* Scale the selected item by 1.1 */
  }
  
  /* Dark Mode Styles */
  .navbar-container.navbar-dark-mode li {
    color: #e0e0e0; /* Light color for dark mode */
  }
  
  .navbar-container.navbar-dark-mode li.selected {
    color: #A0DEFF; /* Selected color in dark mode */
    border-bottom: 2px solid #A0DEFF; /* Selected border color */
    transform: scale(1.15); /* Scale the selected item by 1.1 */
  }
  
  .navbar-container.navbar-dark-mode li:hover {
    color: #fff; 
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #fff; 
  }
  
  .navbar-container.navbar-dark-mode li.selected:hover {
    color: #64B5F6; /* Lighter blue on hover for selected item in dark mode */
    border-bottom: 2px solid #64B5F6; /* Lighter border color on hover */
    text-shadow: none; /* No glow effect for selected item */
  } 

.navbar-container.navbar-dark-mode {
    /* border: 1px solid rgba(255, 255, 255, 0.3); */
    background-color: #0D0D0D;
    color: #fff;
  }
  
/* Responsive Mobile Styles */
@media (max-width: 900px) {
    .navbar-container {
        justify-content: flex-end;
        box-shadow: none;
    }

    .logo-container img {
        height: 60px;
    }

    .menu-icon {
        font-size: 2.5rem;
        cursor: pointer;
        color: #000000;
    }

    .navbar-wrapper.dark .menu-icon {
        color: #e0e0e0;
    }

    .mobile-menu {
        position: absolute;
        top: calc(100% + 10px);
        /* Ensure the menu appears below the icon */
        right: 4%;
        background-color: white;
        /* Dark mobile menu background */
        color: black;
        border-radius: 0 0 15px 15px;
        width: 30%;
        z-index: 1000;
        display: flex;
        flex-direction: column;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3), 0 6px 20px rgba(0, 0, 0, 0.3);
        justify-content: center;
        align-items: center;
        padding-left: 0;
    }

    .mobile-menu.mobile-menu-dark-mode  {
        background-color: #000000;
        color: #fff; /* White icon color for dark mode */
    }

    .mobile-menu li {
        padding: 10px 20px;
        text-align: center;
        border-bottom: 1px solid #444;
        /* Darker border for contrast */
        font-size: 0.75rem;
        /* Light gray text for dark mode */
    }

    .mobile-menu li:last-child {
        border-bottom: none;
    }

    .mobile-menu li:hover {
        background-color: #333333;
        /* Darker hover effect */
    }

    .navbar-container.navbar-dark-mode {
        border: none;
        background-color: #0D0D0D;
        color: #fff;
      }
}